player-connection-mode=Listen
player-connection-guid=1784877210
player-connection-debug=0
player-connection-project-name=AltTicTacToe
player-connection-ip=192.168.10.2
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.151
player-connection-allow-pause=0
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
