player-connection-mode=Listen
player-connection-guid=3961726031
player-connection-debug=0
player-connection-project-name=AltTicTacToe
player-connection-ip=172.20.160.1
player-connection-ip=192.168.11.250
player-connection-allow-pause=0
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
